@model TestProrject.ViewModel.StudentVM

@{
    ViewData["Title"] = "Create";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" />
    
</head>
<body>
    <div class="card card-primary mt-5">
        <div class="card-header">
            <h3 class="card-title">Student Create</h3>
        </div>
        <form enctype="multipart/form-data" asp-action="StudentCreate">


            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Student Name</label>
                            <input type="text" required class="form-control" id="exampleInputPassword1" placeholder="Name" asp-for="StudentName">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Student Id</label>
                            <input type="text" required class="form-control" id="exampleInputPassword1" placeholder="identity" asp-for="StudentIDentity">
                            <p class="text-danger">    @TempData["msg"]</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="DepID" class="control-label">Department</label>
                        <div class=" input-group">
                            <select class="form-control select2" data-native-menu="false" id="deepart" asp-for="DepID" asp-items="ViewBag.deepart">
                                <option disabled selected="selected">Select One</option>
                            </select>
                        </div>
                        <span asp-validation-for="DepID" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Balance</label>
                            <input type="text" class="form-control" id="BB" placeholder="Balance" asp-for="Balance">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Remain Balance</label>
                            <input type="text" class="form-control" readonly id="RB" placeholder="Remain Balance" asp-for="RemainBalance">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Score</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Score" asp-for="StudentScore">
                            <p class="text-danger">    @TempData["mg"]</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Image</label>
                            <input class="form-control" id="initqty" asp-for="StudentImage" accept="image/*">
                        </div>
                    </div>

                    @*<div class=" col-md-3">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ISActive" /> @Html.DisplayNameFor(model => model.ISActive)
                                </label>
                            </div>
                        </div>*@

                    <div class=" col-md-3">
                        <div class="form-group form-switch">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="ISActive" /> @Html.DisplayNameFor(model => model.ISActive)
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>




    @section Scripts {

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#deepart').select2();
            });
        </script>

        <script>
            $('#BB').keyup(function () {
                var qty = $('#BB').val();
                $('#RB').val(qty);
            });
        </script>


    }
</body>
</html>



